




<div class="content-wrapper" style="min-height: 600px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1 class="font-opcenito">
        Detaljni pregled foruma
        <!--<small>Dodavanje predavača</small>-->
      </h1>
      
      <ol class="breadcrumb">
          <li><a [routerLink]="['/admin/dashboard']"><i class="fa fa-dashboard"></i> Nadzorna ploča</a></li>
          <li><a [routerLink]="['/admin/forum']"><i class="fa fa-comment"></i> Forumi</a></li>
          <li class="active">Pregled rasprave</li>
      </ol>
    </section>
    


   <!-- Main content -->
   <section class="content">
    <div class="row">
      <div class="col-xs-12">
        




            <!-- OSNOVI DETALJI -->
            <div class="box">
                
                
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-12">

                    
                    <h2 style="font-size: 15px;font-weight: bold; font-family: 'Montserrat', sans-serif;">{{forum.Naslov}}</h2>
                    <hr>

                    <div class="form-group col-lg-4">
                      <label style="margin-left: 20px;">Naziv foruma:</label>
                      <input type="text" class="form-control" name="Naslov" [(ngModel)]="forum.Naslov" placeholder="Naziv foruma..." />
                    </div>
                  

                    <div class="form-group">
                      
                      <div class="col-sm-10">
                          <label for="opis" class="col-sm-2 control-label">Sudionici:</label>
                          <dual-list [source]="forum.source" [(destination)]="forum.destination" [format]="format" [display]="dualListDisplay" [key]="'ID'" [height]="5" (destinationChange)="destinationChange($event)"></dual-list>
                      </div>
                    </div>
                    
                    
                    <div class="row">
                      <div class="col-xs-12" style="height:30px;"></div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12">
                        <button (click)="save()" class="btn btn-success" style="margin-right: 25px;margin-left: 25px;">
                          <i class="fa fa-save"></i>
                          &nbsp;&nbsp;
                          Spremi izmjene
                        </button>

                        <button class="btn btn-danger" style="margin-right: 25px;">
                          <i class="fa fa-ban"></i>
                          &nbsp;&nbsp;
                          Reset
                        </button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12" style="height:30px;"></div>
                    </div>

                    <hr>
                  

                    <div class="form-group"  style="margin-left: 20px;">
                      <label>Komentari:</label>
                    </div>
                    <ng-container *ngIf="isLoaded">
                      
                      <h3 *ngIf="forum.Posts.length <= 0" class="text-danger font-opcenito text-center" style="font-size:15px;">Ova rasprava još nema komentara <i class="fa fa-exclamation-circle" aria-hidden="true"></i></h3>
                      <div class="post clearfix" style="margin-left: 25px;" *ngFor="let c of forum.Posts">
                        <div class="user-block">
                          <img class="img-circle img-bordered-sm" [src]="c.Kreator.ProfileImage.DataUrl">
                          <span class="username">
                            <a href="#">{{c.Kreator.Name}} {{c.Kreator.LastName}}</a>

                            
                        

                          <div *ngIf="(loggedID == c.Kreator.ID) || isAdmin" class="pull-right">
                              <button class="btn btn-success" style="margin-right: 20px;">
                                <i class="fa fa-edit"></i>
                                &nbsp;
                                Uredi
                              </button>
                              <button (click)="brisiKomentar(c.ID)" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                                &nbsp;
                                Briši
                              </button>
                            </div>
                          </span>
                          <span class="description">{{c.Datum | date: 'dd. MM. yyyy. HH:mm'}}</span>
                        
                        </div>
                        <p style="word-break: break-all;white-space: normal;">{{c.Poruka}} </p>
                      </div>

                      <hr>
                      <form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="">
                        <div class="form-group margin-bottom-none">
                          <div class="col-sm-9">
                            <!--<input class="form-control input-lg" placeholder="Unesite komentar...">-->
                            <textarea name="message" [(ngModel)]="comment.Poruka" placeholder="Komentar..." class="form-control"></textarea>
                          </div>
                          <div class="col-sm-3">
                            <button (click)="dodaj()" class="btn btn-primary pull-right btn-block btn-lg" type="submit">
                              <i class="fa fa-comments-o" aria-hidden="true"></i>
                               &nbsp;&nbsp; Komentiraj 
                              </button>
                            </div>
                          </div>
                      </form>
                    </ng-container>

                  </div>
                </div>



              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <!--<app-pagination #paginator></app-pagination>-->
              </div>
            </div>


    </div>
    <!-- /.tab-pane -->
  </div>
  </section>

<div class="control-sidebar-bg"></div>

