





          
<a [routerLink]="" class="dropdown-toggle" style="font-size: 20px;" data-toggle="dropdown" (click)="seeNotifications()">
  <i class="fa fa-bell-o"></i>
  <span *ngIf="getUnseenNumber() > 0" class="label label-warning" style="font-size: 15px;">{{getUnseenNumber()}}</span>
</a>

<ul class="dropdown-menu">
  <li class="header" *ngIf="nots.length > 0">Broj novih notifikacija: {{getUnseenNumber()}}</li>
  <li class="header" *ngIf="nots.length <= 0">Nema novih notifikacija.</li>
  <li>
    <!-- inner menu: contains the actual data -->
    <ul class="menu">
        <li *ngFor="let n of nots">
          <a [routerLink]="['/notification-details/' + n.ID]" style="font-size: 16px;">
            <h1 class="notification-naslov">{{n.Title}}</h1>
            <i [ngClass]="n.Icon" style="font-size: 22px;"></i> &nbsp;
            <span [innerHTML]="n.Body"></span>
            <p class="pull-right text-muted" style="font-size: 12px;">{{n.CreatedAt | date: 'dd.MM.yyyy. HH:mm'}}</p>
          </a>
        </li>
    </ul>
  </li>
  <li class="footer">
    <a [routerLink]="['/notifications']" >
    <span class="text-primary" style="font-size: 18px;text-decoration: underline;font-weight: bold;">Pregled svih</span> 
   </a>
</li>
</ul>