





          
<a [routerLink]="" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 20px;" (click)="seeNotifications()">
  <i class="fa fa-bell-o"></i>
  <span *ngIf="getUnseenNumber() > 0" class="label label-warning">{{getUnseenNumber()}}</span>
</a>

<ul class="dropdown-menu">
  <li class="header font-profil" *ngIf="nots.length > 0">Broj novih notifikacija: {{getUnseenNumber()}}</li>
  <li class="header" *ngIf="nots.length <= 0">Nema novih notifikacija.</li>
  <li>
    <!-- inner menu: contains the actual data -->
    <ul class="menu">
        <li *ngFor="let n of nots">
          <a [routerLink]="['/notification-details/' + n.ID]">
            <h1 class="notification-naslov font-opcenito" style="font-size:13px;">{{n.Title}}</h1>
            <i [ngClass]="n.Icon" style="font-size: 18px;"></i>
            <p [innerHTML]="n.Body" style="font-size: 12px;"></p>
            <p class="pull-right text-muted" style="font-size: 9px;">{{n.CreatedAt | date: 'dd.MM.yyyy. HH:mm'}}</p>
          </a>
        </li>
    </ul>
  </li>
  <li class="footer">
    <a [routerLink]="['/notifications']" style="background-color: #222d32;" >
    <span class="text-primary" style=" color: #b8c7ce;"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Pregled svih</span> 
   </a>
</li>
</ul>