<div class="content-wrapper">
    <section class="content-header">
        <h1 class="font-opcenito">
          <button class="btn btn-success margin-r-5" (click)="spremi()"><i class="fa fa-save"></i>&nbsp;&nbsp;Spremi izmjene</button>
          <button class="btn btn-danger margin-r-5" (click)="reset()"><i class="fa fa-undo"></i>&nbsp;&nbsp;Poništi</button>
        </h1>
        <ol class="breadcrumb">
          <li><a [routerLink]="['/predavac/dashboard']"><i class="fa fa-dashboard"></i> Nadzorna ploča</a></li>
          <li><a [routerLink]="['/predavac/ucenici']"><i class="fa fa-users"></i> Učenici</a></li>
          <li class="active">Detalji</li>
        </ol>
      </section>
  
  
  
  
      <section class="content">
          <app-ucenik-details *ngIf="isLoaded" [id]="id"></app-ucenik-details>
      </section>
  </div>