
<div class="content-wrapper" style="min-height: 600px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="font-opcenito">
          Razine nastave
          <small>Upravljanje razinama nastave</small>
        </h1>
        
        <ol class="breadcrumb">
            <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Nadzorna ploča</a></li>
            <li class="active">Razine nastave</li>
        </ol>
      </section>
      

  
     <!-- Main content -->
     <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <app-razine-nastave-list [loggedUserPrivileges]="'admin'"></app-razine-nastave-list>
  
      </div>
      <!-- /.tab-pane -->
    </div>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
