
<div class="content-wrapper" style="min-height: 600px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 class="font-opcenito">
          Dodaj učenika
          <!--<small>Dodavanje predavača</small>-->
          
        </h1><br>
        
        <button class="btn btn-success" (click)="spremi()" style="margin-right: 10px;" type="button"><i class="fa fa-save"></i>&nbsp; Spremi predavača</button>
        <button class="btn btn-danger" (click)="reset()" type="button"><i class="fa fa-undo"></i>&nbsp; Poništi</button>
        
        <ol class="breadcrumb">
            <li><a [routerLink]="['/predavac/dashboard']"><i class="fa fa-dashboard"></i> Nadzorna ploča</a></li>
            <li><a [routerLink]="['/predavac/predavaci']"><i class="fa fa-users"></i> Učenici</a></li>
            <li class="active">Dodaj učenika</li>
        </ol>
  
  
      </section>
      
  
  
     <!-- Main content -->
     <section class="content">
      <div class="row">
        <div class="col-xs-12">
  
          <app-add-ucenik [role]="'predavac'"></app-add-ucenik>
  
      </div>
      <!-- /.tab-pane -->
    </div>
    </section>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
  